<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="com.edu.annotation.properties.samplePropertyPage"
            name="Sample Page"
            class="com.edu.annotation.properties.SamplePropertyPage"
            nameFilter="*.*">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
