<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.edu.postman"
            name="Postman">
      </category>
      <wizard
            id="com.edu.postman.wizards.PostmanImportWizard"
            name="Postman Import"
            class="com.edu.postman.wizards.PostmanImportWizard"
            category="com.edu.postman"
            icon="icons/api-postman.png">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.edu.postman.preferences.PostmanPreferencePage"
            id="com.edu.postman.preferences.PostmanPreferencePage"
            name="Postman Preference">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.edu.postman.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.edu.postman.menuGenerateExtensions"
            objectClass="org.eclipse.core.resources.IFile" adaptable="true">

		<menu id="com.edu.postman.exportmenu" 
         	label="Postman"
            icon="icons/api-postman.png" 
         	path="additions">
            <separator name="groupPostman"></separator>
         </menu>

			<action
               class="com.edu.postman.wizards.PostmanExportAction"
               id="com.edu.postman.wizards.PostmanExportAction"
               label="Export Collection"
           	   icon="icons/export_wiz.png"
               menubarPath="com.edu.postman.exportmenu/groupPostman">
			</action>
		</objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.edu.postman.editors.PostmanEditor"
            contributorClass="com.edu.postman.editors.PostmanEditorContributor"
            extensions="json"
            icon="icons/api-postman.png"
            id="com.edu.postman.editors.PostmanEditor"
            name="PostmanEditor">
      </editor>
   </extension>

</plugin>
